<%- include('./partials/header.ejs')%>
<div class="container">
    <div class="intro">
        <h3>Name: Ajinkya Gadgil</h3>
        <p>Email: agadgil@uncc.edu</p>
    </div>
</div>
<%- include('./partials/footer.ejs')%>