<%- include('./partials/header.ejs')%>
    <div class="container">
        <div class="intro">
            <h1 class="main-content-title">EquiX trading</h1>
            <p>
                Welcome EquiX Trading. It is a equipment trading platform. You can trade any equiment in
                different categories. To name some categories include Outdoor Equiments, Electrical
                Equipments, Carpentry Equipments.
            </p>
            <a href="trades.html" class="btn btn-dark dark-weight-btn">Start Here</a>
        </div>
    </div>
<%- include('./partials/footer.ejs')%>