<%- include('../partials/header.ejs')%>
<div class="container">
    <form class="new-trade-form" method="POST" action="/trades">

        <div class="form-group">
            <label for="category">Category</label>
            <input type="text" class="form-control" name="categoryName" id="category" placeholder="Category">
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="itemName" id="name" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" name="itemDescription" id="description" rows="3"
                placeholder="Enter description"></textarea>
        </div>
        <div class="form-group btn-create-trade">
            <button type="submit" class="btn btn-outline-success">Create Trade</button>
        </div>
    </form>

</div>
<%- include('../partials/footer.ejs')%>